<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219881756238-ta26747hkeianmtg776om12t8hcf6bhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219881756238-ta26747hkeianmtg776om12t8hcf6bhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219881756238-fk65liloq2bmqtkkaac7sdcbbe52r7lh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYgoWyaKKFk_13HvMDIZiJRfOic_7RFEo</string>
	<key>GCM_SENDER_ID</key>
	<string>219881756238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mate.baedalmate</string>
	<key>PROJECT_ID</key>
	<string>baedalmate-bc331</string>
	<key>STORAGE_BUCKET</key>
	<string>baedalmate-bc331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219881756238:ios:874c7cbdc68d5241c4551f</string>
</dict>
</plist>