<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>baedalmate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6e4fe4605f699723dd48ca216e321bd8</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KAKAO_APP_KEY</key>
	<string>6e4fe4605f699723dd48ca216e321bd8</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao6e4fe4605f699723dd48ca216e321bd8</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 사진에 접근하려고 합니다. 프로필 사진을 사용자 정의 사진으로 할 경우 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 위치를 사용하도록 허용하겠습니까? 위치 인증을 진행하기 위해 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 위치를 사용하도록 허용하겠습니까? 위치 인증을 진행하기 위해 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 위치를 사용하도록 허용하겠습니까? 위치 인증을 진행하기 위해 필요합니다.</string>
	<key>NSPhotoLibraryAppUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 사진에 접근하려고 합니다. 프로필 사진을 사용자 정의 사진으로 할 경우 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) 이(가) 사용자의 사진에 접근하려고 합니다. 프로필 사진을 사용자 정의 사진으로 할 경우 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AppleSDGothicNeo.ttc</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
